  # Backups, from Text files #
############################
*.pyo
*.pyc
*~

# Configuration files #
#######################
*.path
*.parameters
!default.parameters
*.cfg
!default.cfg

# API key files #
#################
*.key


# PyCharm Variables #
#####################
.idea/


# vscode Variables #
#####################
.vscode/